.project-intro {

    margin-top: 8rem;
}

.single-img {
    max-width: 100%;
    height: auto;    
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6rem;
    gap: 2rem;
}

.list-points {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.one-point {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.one-point p {
    margin: 0;
}

.bullet-image {
    width: 2.25rem;
    height: 2.25rem;
}

.research-insights-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.research-insight {
    margin: 1rem;
    width: 30%;
    min-width: 20rem;
    height: auto;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.14));
}

.chart-img {
    width: 70%;
    min-width: 30rem;
    height: auto;
    align-self: center;
}

.opportunity-statement {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.opportunity-image {
    width: 8rem;
    height: auto;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-sp {
    width: 50%;
}

.principles-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4rem 0 4rem 0;
}

.principle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    min-width: 15rem;
    margin: 1rem;
    text-align: center;
    gap: 1rem;
}
.principle-img {
    width: 4rem;
    height: auto;
}

.mini-paragraph {
    font-size: 1rem;
    margin: 0;
}

.sharepoint-bold {
    font-weight: 700;
    color: #038387
}

.t-sp-shell {
    width: 70%;
    align-self: center;
    margin-top: 4rem;
}

.model-comparison {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.ia-model {
    width: 40%;
    min-width: 20rem;
    height: auto;
    margin: 2rem;
}

.webpart-ex {
    height: 25vw;
    width: auto;
    min-height: 20rem;
    max-height: 30rem;
    margin: 4rem 2rem 4rem 2rem;
}

.help-ex {
    height: 25vw;
    width: auto;
    min-height: 20rem;
    max-height: 30rem;
    margin: 4rem 1rem 4rem 1rem;
}

.two-line-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.social-media-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    min-width: 30rem;
}

.screenshot {
    max-width: 100%;
}

.quotes-group {
    display: flex;
    flex-direction: column;
    margin: 4rem 0rem 2rem 0rem;
    gap: 6rem;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.quote-content h3 {
    font-size: 2rem;
}

.quote-tag {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.right-quote {
    justify-content: flex-end;
    text-align: end;
}

.flag-mini {
    width: 2.25rem;
    height: auto;
}

.margin-spacer {
    margin: 4rem 0 4rem 0;
}

.margin-sm-spacer {
    margin: 2rem 0 2rem 0;
}

.margin-x-sm-spacer {
    margin: 1rem 0 1rem 0;
}

.flex-column-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.med-shadow {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12)) 
    drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.14));
}

.sm-shadow {
    filter: drop-shadow(0px 1.6px 3.6px rgba(0, 0, 0, 0.13)) 
    drop-shadow(0px 0.3px 0.9px rgba(0, 0, 0, 0.11));
}

.header-proposal-img {
    width: 80%;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 4rem;
}

.abstract-body {
    line-height: 2rem;
}

.view-button {
    font-weight: 400;
    font-size: 1rem;
    width: 10rem;
    height: 4rem;
}

.project-button {
    font-weight: 400;
    font-size: 1rem;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
    margin-top: 0 !important;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.text-link-group {
    display: flex;
    flex-direction: column;
}

.text-link {
    text-decoration: underline;
    color: black;
}

.column-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-top: rem;
    min-width: 30rem;
}

.two-photo-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.abstract-bg {
    background-color: #F6F6F6;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.abstract-sm {
    text-align: left;
    line-height: 1.5rem;
}

.small-img {
    width: 4rem;
    height: auto;
}

.img-and-two-lines {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.card {
    border-radius: 0.5rem;
    background-color: white;
    width: 40%;
    padding: 1rem;
    min-width: 15rem;
    transition: 0.3s;
}

.card:hover {
    background-color: #F4F4F4;
}

.non-button:hover {
    background-color: white !important;
}

.constant-card {
    border-radius: 0.5rem;
    background-color: white;
    width: 18rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: 0.3s;
}

.constant-card:hover {
    background-color: #F4F4F4;
}

.small-two-line-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    row-gap: 2rem;
}

.three-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.one-third-column {
    width: 25%;
    min-width: 15rem;
}
.two-third-column {
    width: 65%;
}

.landscape-img-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landscape-img {
    width: 100%;
}

.annotation-types {
    width: 70%;
    min-width: 25rem;
}

.grid-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 4rem;
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 35%;
    min-width: 20rem;
    height: auto;
    text-align: center !important;
}

.panel-lg {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 65%;
    min-width: 40rem;
    height: auto;
    text-align: center !important;
}

.panel-img {
    width: 100%;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.logos-tech {
    height: 3rem;
    width: auto;
}

.font-med {
    font-weight: 500;
}

.card-link {
    text-decoration: none;
}

.card-link:visited {
    color: black;
}

.lg-photo {
    width: 60%;
    max-width: 100%;
    min-width: 40rem;
    margin: auto;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.gold-bold {
    font-weight: 600;
    color: #EBAD00;
}

.gold-black {
    font-weight: 900;
    color: #EBAD00;
}

.insight-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}

.insight-img {
    width: 100%;
    height: auto;
}

.insight-img-container {
    width: 45%;
    height: fit-content;
}

.two-column-insight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    row-gap: 4rem;
}

.story-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    min-width: 20rem;
    height: auto;
}

.text-shift {
    margin-left: 3rem;
}

.center {
    justify-content: center !important;
    align-items: flex-start !important;
}

.big-gap {
    gap: 2rem;
}

.components-group {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.proto-img {
    width: 100%;
    height: auto;
}

.caption-panel {
    align-self: center;
    margin-top: 1rem;
}



@media only screen and (max-width: 1024px) {

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem !important;
        line-height: 2.25rem;
    }

    h4 {
        font-size: 0.75rem;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .project-info h2 {
       font-size: 1.5rem;
    }

    .project-info h1 {
        font-size: 2rem;
    }

    .teams-logo {
        width: 3rem;
        height: 3rem;
    }

    .list-points {
        gap: 1.5rem;
    }

    .bullet-image {
        width: 1.75rem;
        height: 1.75rem;
    }

    .quotes-group {
        gap: 4rem;
    }



    .webpart-ex {
        height: 20vw;
        width: auto;
        max-width: 90%;

        margin: 2rem 2rem 1rem 2rem;
    }
    

}

@media only screen and (max-width: 906px) {

    .one-third-column {
        width: 100%
    }


    .two-third-column {
        width: 100%;
    }

    .three-column {
        flex-direction: row;
        justify-content: center;
    }

    .reverse-wr {
        flex-wrap: wrap-reverse;
    }
}


@media only screen and (max-width: 848px) {

    .t-sp-shell {
        width: 90%;
    }

        .chart-img {
        min-width: 0;
        width: 90%;
    }

    .teams-sp {
        min-width: 0;
        width: 90%;
    }

    .social-media-column {
        width: 100%;
        min-width: 0;
    }

    .card {
        width: 80%;
    }

    .two-column {
        gap: 2rem;
    }

    .lg-photo {
        width: 100%;
        min-width: 0;
    }

    .components-group {
        min-width: 0;
        width: 100%;
    }

    .grid-cards {
        flex-direction: column;
        column-gap: 0;
        align-items: center;
    }

    .panel {
        width: 70%;
        min-width: none;
    }

    .panel-lg {
        width: 90%;
        min-width: 0;
    }

    .annotation-types {
        min-width: 0;
        width: 90%;
    }

    .logos-tech {
        height: 2rem;
    }

    .insight-text {
        width: 100%;
    }

    .insight-img-container {
        width: 100%;
    }
}




@media only screen and (max-width: 409px) {

    .ia-model {
        min-width: 0;
        width: 100%;
    }

    .opportunity-statement {
        flex-wrap: wrap;
    }
    
    .text-section {
        margin-top: 4rem;
    }

    .project-intro {
        margin-top: 4rem;
    }

    .quotes-group {
        margin-top: 2rem;
    }
}