body {
    max-width: 72rem;
    padding: 1rem 4rem 0rem 4rem;    
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;

}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 1rem;
    text-align: center;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

h7 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    margin: 0;
}

.section-heading {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.big-name {
    font-size: 8rem;
    font-weight: 800;
    position: relative;
}


.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    background-position: white;
    gap: 2rem;
}

.navbar-item {
    position: relative;
    transition: top ease 0.1s;
    top: 0;
}

.navbar-item:hover {
    top: -2px;
}

.navbar-heading {
    position: relative;
    top: 0;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 2rem;
    transition: top ease 0.1s;
    display: flex;
    align-items: center;
}

.footer-heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
}

.navbar-heading:hover {
    font-weight: 600;
}

#nav-logo {
    width: 2rem;
    height: auto;
}

.introduction-block {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
}

.name-container {
    position: relative;
}

.name-tagline {
    position: absolute;
    top: 100%;
    left: 40%;
}

.statements {
    margin-bottom: 12rem;
}

.statement-block {
    margin: 8rem 0rem 4rem 0rem;
}

.job-title-anchor {
    position: relative;
}

.job-title {
    position: absolute;
    top: 160%;
    left: 0%;

}

.love-anchor {
    position: relative;
}

.love-creating {
    position: absolute;
    top: -80%;
    right: 0%;

}

.current-role-anchor {
    position: relative;
}

.current-role {
    position: absolute;
    top: 160%;
    left: 0;
}

.underline span {
    display: inline-block;
  }
  
.underline span::after
{
    content: '';
    height: 0.5rem;
    background: #326BFF;
    border-radius: 1rem;
    display: block;
    margin-top: 0.5rem;
}

.underline-sm {
    display: inline-block
}

.underline-sm::after
{
    content: '';
    height: 0.25rem;
    background: #326BFF;
    border-radius: 1rem;
    display: block;
    margin-top: 0.5rem;
}


.full-width-section {
    width: 100%;
}

.project-grid {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 8rem;
}

.project-row {
    display: flex;
    flex-direction: row;
    height: 50%;
    gap: 2rem;
}

.project-block {
    width: 50%;
    min-width: 10rem;
    aspect-ratio: 1/1;
    background-color: beige;
    border-radius: 1rem;
    text-decoration: none;
}

.project-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1rem;
    padding-left: 3rem;
    opacity: 0;
    transition: 0.3s;
}

.teams-logo {
    height: 4rem;
    width: 4rem;
}

.project-info:hover {
    opacity:1;
}

.home-page {
    background-image: url("../img/home-page.png");
    background-size: cover;
}

.connect-chat {
    background-image: url("../img/connect-chat.png");
    background-size: cover;

}

.vr-notes {
    background-image: url("../img/vr-notes.png");
    background-size: cover;

}

.accessible-circuits {
    background-image: url("../img/accessible-circuits.png");
    background-size: cover;
}

.sm-statement-block {
    margin: 4rem 0 4rem 0;
}


.blue-bold {
    color: #326BFF;
    font-weight: 700;
}


.contact-button {
    border: 2px solid black;
    background-color: white;
    width: 12rem;
    border-radius: 0.5rem;
    height: 4rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.button-link {
    text-decoration: none;
}
.contact-button:hover {
    border: 2px solid #326BFF;
    color: white;
    background-color: #326BFF;
}

.icon-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 2rem;
}


.icon-button {
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    transition: 0.3s;
}

.icon-button:hover {
    color: #326BFF;
}

footer {
    background-color: white;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;
}


.medium-img {
    width: 6rem !important;
    height: auto;
}

.research-tag {
    margin-top: 1rem !important;
}

.text-link {
    text-underline-offset: 4px;
}

.text-link:visited {

    text-decoration: none; 
    color: black; 

}